@model Control_Machine_Sistem.Models.QrCode

@{
    ViewData["Title"] = "Detalles de la Máquina";
}

<h3>Sr @Model.ClientName</h3>
<h4>Modelo de Máquina: @Model.MachineModel</h4>
<h4>Fecha de Entrega:  @Model.DeliveryDate?.ToString("dd/MM/yyyy")</h4>

<ul>    
    <a href="@Url.Action("ManualList", "QrCodes", new { urls = Model.ManualUrl })" class="btn btn-primary">Descargar Manuales</a>
    <a href="@Url.Action("DocumentList", "QrCodes", new { urls = Model.DocUrl })" class="btn btn-primary">Descargar Documentación</a>
    <a href="#" class="btn btn-primary">Descargar Datos del Servicio Técnico</a>
</ul>