@model IEnumerable<Control_Machine_Sistem.Models.Model>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Crear Nuevo Modelo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Manuales</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @if (item.ManualUrls != null && item.ManualUrls.Any())
                    {
                        <ul>
                            @foreach (var manual in item.ManualUrls)
                            {
                                <li class="manual-name" data-url="@manual">
                                    <a href="@manual" download>@manual</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No hay manuales</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<script src="~/js/cleanNameFile.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".manual-name a").forEach(function (element) {
            const originalUrl = element.getAttribute("href");
            element.textContent = getCleanFileName(originalUrl);
        });
    });
</script>